@import './unstyled';
@import '../_variables.scss';

button.unstyled {
  @include unstyled();
}

@mixin button-pristine {
  display: inline-block;
  background: var(--button-bg);
  color: var(--button-color);
  border: none;
  font: inherit;
  font-weight: 400;
  cursor: pointer;
  border-radius: 0.6rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 200ms, color 200ms;
  box-shadow: var(--button-shadow);
  padding: var(--button-padding);
  outline: none;
}

@mixin button-active() {
  background: var(--button-active-bg);
  box-shadow: var(--button-active-shadow);
}

@mixin button-block() {
  width: 100%;
}

@mixin button-hover() {
  background: var(--button-active-bg);
  color: var(--button-color);
}

@mixin button() {
  @include button-pristine();

  &.block {
    @include button-block();
  }

  &.outline {
    background: none;
    border: 1px solid var(--button-bg);
    color: var(--button-bg);
  }

  &:hover:not([disabled], .disabled),
  &:focus:not([disabled], .disabled) {
    @include button-hover();
  }

  &:active:not([disabled], .disabled) {
    @include button-active();
  }

  &[disabled],
  &.disabled {
    background: var(--button-disabled-bg);
    cursor: auto;
  }
}
