@import '../../styles/component';
@import '../../styles/variables';

vocably-card-counter {
  --size: 21px;

  @include base-font();
  display: inline-block;
  min-width: var(--size);
  height: var(--size);
  line-height: 0 !important;

  // Reddit sets visibility: hidden for custom elements
  visibility: visible !important;

  .vocably-card-counter-button {
    padding: 0;
    box-sizing: border-box;
    border: none;
    min-width: var(--size);
    height: var(--size);
    line-height: var(--size);
    background-color: #{$v-light-color-primary};
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--size);
    color: #{$v-light-color-body-bg};
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
  }

  .vocably-card-counter-previous,
  .vocably-card-counter-current {
    display: block;
    padding: 0 4px;
  }

  .vocably-card-counter-current {
    margin-top: calc(var(--size) * -1);

    animation-duration: 1s;
    animation-name: currentShowUp;
    animation-fill-mode: forwards;
  }

  .vocably-card-counter-previous {
    animation-duration: 1s;
    animation-name: previousHideDown;
    animation-fill-mode: forwards;
  }

  @keyframes currentShowUp {
    from {
      transform: translateY(12px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 100%;
    }
  }

  @keyframes previousHideDown {
    from {
      transform: translateY(0);
      opacity: 100%;
    }

    to {
      transform: translateY(-12px);
      opacity: 0;
    }
  }
}

.vocably-card-counter-explanation {
  opacity: 0;
  transform: translateY(-8px);
  transition: all 0.2s;
  pointer-events: none;

  position: absolute;

  &.vocably-card-counter-explanation-visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}
