@import '../../styles/component';
@import '../../styles/variables';

:host {
  @include base-font();

  visibility: visible !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;

  .explanation {
    position: relative;

    background-color: #{$v-light-color-body-bg};
    border-radius: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 16px;

    text-align: left;
    font-size: 14px;

    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .upgrade-button {
    flex: 1;
    @include button();
    min-width: 200px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .close-button {
    padding: 0;
    cursor: pointer;
    background: none;
    position: absolute;
    border: none;
  }
}
