@import '../../../styles/variables';

.select-button {
  --backround: var(--contrast-bg);
  --hover-background: var(--contrast-bg-hover);
  --color: var(--emphasize-color);

  &.checked {
    --backround: var(--button-bg);
    --hover-background: var(--button-bg-hover);
    --color: var(--button-color);
  }

  padding: 1rem;
  border: none;
  display: block !important;
  background: var(--backround);
  width: 100%;
  color: var(--color);
  border-radius: $border-radius;
  text-align: left;
  cursor: pointer;

  > * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &:hover,
  &:focus {
    background: var(--hover-background);
  }
}
