@import '../../styles/variables';

:host {
  --size: 18px;
  --color: #{$v-light-color-primary};
  display: inline-block;
  width: var(--size);
  height: var(--size);
}

.svg {
  height: 100%;
  width: auto;

  fill: var(--color);
}
