@import '../../styles/variables';
@import '../../styles/component';

:host {
  @include base-font();
  display: block;

  .phone {
    width: 140px;
  }

  .phone-bg {
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .card {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 10s infinite linear;
  }

  @keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    45% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    95% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }

  .card-side-wrapper {
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 6px;
    padding-top: 24px;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    top: 0;
    backface-visibility: hidden;
  }

  .back {
    transform: rotateY(180deg);
  }

  .card-side {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }

  .emphasize {
    color: $v-light-color-emphasize;
    font-weight: bold;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    flex-wrap: wrap;
  }

  p {
    margin-top: 0;
    margin-bottom: 8px;
  }

  .small {
    font-size: 12px;
  }

  // Reddit sets visibility: hidden for custom elements
  visibility: visible !important;
}

.svg {
  max-width: 100px;
  width: 100%;
}

.vocably-list {
  list-style: outside;
  padding: 0;
  margin: 0 0 0 $base-font-size;
}
