@import '../../styles/variables';
@import '../../styles/component';

:host {
  @include base-font();
  display: block;

  .phone {
    width: 140px;
  }

  .phone-contents-wrapper {
    background-color: #fff;
    height: 100%;
    padding: 6px;
    padding-top: 24px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .phone-contents {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
    align-items: center;
  }

  .emphasize {
    color: $v-light-color-emphasize;
    font-weight: bold;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
  }

  p {
    margin-top: 0;
    margin-bottom: 8px;
  }

  .small {
    font-size: 12px;
  }

  // Reddit sets visibility: hidden for custom elements
  visibility: visible !important;
}

.svg {
  max-width: 100px;
  width: 100%;
}
