// Spinners
// --------------------------------------------------
@import '../../styles/variables';

:host {
  /**
   * @prop --color: Color of the spinner
   */

  display: inline-block;
  position: relative;
  vertical-align: middle;

  width: 28px;
  height: 18px;

  color: var(--color);

  user-select: none;
}

:host(.ion-color) {
  color: $v-light-color-body;
}

svg {
  position: absolute;

  /**
   * Do not use @include position
   * as the alignment of the elements with
   * a spinner should not be RTL aware.
   */
  top: 0;
  /* stylelint-disable-next-line property-disallowed-list */
  left: 0;

  width: 100%;
  height: 100%;

  transform: translateZ(0);
}

// Spinner: dots
// --------------------------------------------------

:host(.spinner-dots) circle {
  stroke-width: 0;
  fill: currentColor;
}

:host(.spinner-dots) svg {
  animation: spinner-dots 1s linear infinite;
}

// Spinner: paused
// --------------------------------------------------

:host(.spinner-paused),
:host(.spinner-paused) svg,
:host(.spinner-paused) circle {
  animation-play-state: paused;
}

// Animation Keyframes
// --------------------------------------------------

@keyframes spinner-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes spinner-scale-out {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0, 0);
  }
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-dots {
  0% {
    transform: scale(1, 1);

    opacity: 0.9;
  }

  50% {
    transform: scale(0.4, 0.4);

    opacity: 0.3;
  }

  100% {
    transform: scale(1, 1);

    opacity: 0.9;
  }
}

@keyframes spinner-circular {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner-circular-inner {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}
