@import '../../../styles/variables';
@import '@vocably/styles/mixins/button';

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: $md) {
    flex-direction: row;
  }

  @media (min-width: $lg) {
    gap: 2rem;
  }
}

.card {
  color: inherit;
  background: var(--contrast-bg);
  border: 1px solid var(--border-color);
  text-align: left;
  border-radius: $border-radius;
  font: inherit;
  cursor: pointer;
  box-shadow: 0 4px 15px var(--product-card-shadow-color);
  transition: background 0.2s;
  padding: 1rem 1.5rem;

  @media (min-width: $lg) {
    padding: 1.5rem 2rem;
  }

  &.active {
    border-color: var(--primary-color);
    box-shadow: 0 4px 15px rgba(var(--primary-rgb), 0.3);
  }

  .break-word {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .text-x200 {
    font-size: 200%;
  }

  .text-x150 {
    font-size: 150%;
    line-height: 2rem;
  }

  .text-x150-line-height {
    line-height: 2rem;
  }

  .border-bottom {
    border-bottom: 0.5px solid var(--text-color);
  }

  .select-button {
    @include button-pristine();
    @include button-block();

    &.selected {
      @include button-active();
    }
  }

  &:hover {
    .select-button {
      @include button-hover();
    }
  }

  .hide-when-needed {
    @media (min-width: $sm + 100px) {
      display: none;
    }
  }
}

.features {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--contrast-bg);
  border-radius: $border-radius;
  text-align: left;

  .feature {
    display: flex;
    gap: 1rem;
  }

  .feature-explanation {
    flex: 1;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1rem;
  }

  .feature:last-child .feature-explanation {
    border-bottom: none;
    padding-bottom: 0;
  }

  .divider {
    border-top: 1px solid var(--border-color);
    margin-top: 1rem;
  }

  .feature-title {
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
}

.comparison {
  display: flex;
  justify-content: center;

  table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      padding: 1rem;
      border-bottom: 1px solid var(--border-color);
    }

    tr:last-child td {
      border-bottom: none;
    }
  }
}

.social-proof {
  background-color: var(--contrast-bg);
  border-radius: $border-radius;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .stars-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .stars {
    --star-size: 3rem;

    mat-icon {
      font-size: var(--star-size);
      width: var(--star-size);
      height: var(--star-size);
    }

    .background,
    .foreground {
      line-height: var(--star-size);
      height: var(--star-size);
    }

    .background {
      color: var(--text-muted);
    }

    .foreground {
      color: #ffa000;
      overflow: hidden;
      width: 94%;
      white-space: nowrap;
      margin-top: calc(var(--star-size) * -1);
    }
  }
}
